<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Basic -->
        <pe-step label="Basic">
            <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
            <h1 style="font-weight:normal">Left Sidebar</h1>
            <button pButton type="button" (click)="visibleSidebar1 = false" label="Save" class="ui-button-success"></button>
            <button pButton type="button" (click)="visibleSidebar1 = false" label="Cancel" class="ui-button-secondary"></button>
            </p-sidebar>
            <button pButton type="button" (click)="visibleSidebar1 = true" icon="fa-arrow-right"></button>
        </pe-step>

        <!-- Position -->
        <pe-step label="Position" [styleClass]="">
            <p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
            <h1 style="font-weight:normal">Right Sidebar</h1>
            <button pButton type="button" (click)="visibleSidebar2 = false" label="Save" class="ui-button-success"></button>
            <button pButton type="button" (click)="visibleSidebar2 = false" label="Cancel" class="ui-button-secondary"></button>
            </p-sidebar>
            <button pButton type="button" (click)="visibleSidebar2 = true" icon="fa-arrow-left"></button>
        </pe-step>

        <!-- Tooltip Event -->
        <pe-step label="Tooltip Event">
            <p-sidebar [(visible)]="visibleSidebar3" position="top" [baseZIndex]="10000">
            <h1 style="font-weight:normal">Top Sidebar</h1>
            <button pButton type="button" (click)="visibleSidebar3 = false" label="Save" class="ui-button-success"></button>
            <button pButton type="button" (click)="visibleSidebar3 = false" label="Cancel" class="ui-button-secondary"></button>
            </p-sidebar>
            <button pButton type="button" (click)="visibleSidebar3 = true" icon="fa-arrow-down"></button>
        </pe-step>

        <!-- Tooltip Delay -->
        <pe-step label="Tooltip Delay">
            <p-sidebar [(visible)]="visibleSidebar4" position="bottom" [baseZIndex]="10000">
                <h1 style="font-weight:normal">Bottom Sidebar</h1>
                <button pButton type="button" (click)="visibleSidebar4 = false" label="Save" class="ui-button-success"></button>
                <button pButton type="button" (click)="visibleSidebar4 = false" label="Cancel" class="ui-button-secondary"></button>
            </p-sidebar>
            <button pButton type="button" (click)="visibleSidebar4 = true" icon="fa-arrow-up"></button>
        </pe-step>

        <!-- Disabled Tooltip -->
        <pe-step label="Disabled">
            <p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
            <h1 style="font-weight:normal">Full Screen Sidebar</h1>
            <button pButton type="button" (click)="visibleSidebar5 = false" label="Save" class="ui-button-success"></button>
            <button pButton type="button" (click)="visibleSidebar5 = false" label="Cancel" class="ui-button-secondary"></button>
            </p-sidebar>
            <button pButton type="button" (click)="visibleSidebar5 = true" icon="fa-arrows-alt"></button>

        </pe-step>

    </pe-steps>

</form>

<p-growl [value]="msgs"></p-growl>
