<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event);" [stepClass]="'layout-format'">
        <!-- Lazy Loading -->
        <pe-step label="Lazy Loading" >
            <p-virtualScroller [value]="lazyloadingBrowsers" scrollHeight="500px" [itemSize]="150" [rows]="100" [cache]="false"
                               [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalLazyBrowsersLength">
                <p-header>
                    List of Browsers
                </p-header>
                <ng-template let-browser pTemplate="item" let-i="index">
                    <div class="ui-g browser-item">
                        <div class="ui-g-12 ui-md-2">
                            <div style="font-size: 24px; text-align: center; padding-top: 48px">{{i}}</div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <img src="/content/primeng/assets/data/images/browsers/{{browser.code}}.png" width="100" height="80">
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <div class="ui-g">
                                <div class="ui-g-2 ui-sm-6">Engine: </div>
                                <div class="ui-g-10 ui-sm-6">{{browser.engine}}</div>

                                <div class="ui-g-2 ui-sm-6">Browser: </div>
                                <div class="ui-g-10 ui-sm-6">{{browser.browser}}</div>

                                <div class="ui-g-2 ui-sm-6">Platform: </div>
                                <div class="ui-g-10 ui-sm-6">{{browser.platform}}</div>

                                <div class="ui-g-2 ui-sm-6">Version: </div>
                                <div class="ui-g-10 ui-sm-6">{{browser.version}}</div>

                            </div>
                        </div>
                </ng-template>
                <ng-template let-browser pTemplate="loadingItem">
                    <div class="ui-g browser-item empty-browser-item">
                        <div class="ui-g-12 ui-md-2">
                            <div class="empty-browser-item-index"></div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <div class="empty-browser-item-index"></div>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <div class="ui-g">
                                <div class="ui-g-12"><div class="empty-browser-item-index"></div></div>
                                <div class="ui-g-12"><div class="empty-browser-item-index"></div></div>
                                <div class="ui-g-12"><div class="empty-browser-item-index"></div></div>
                                <div class="ui-g-12"><div class="empty-browser-item-index"></div></div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-virtualScroller>
        </pe-step>


        <!-- Prepopulated List -->
        <pe-step label="Prepopulated List">
            <p-virtualScroller [value]="basicBrowsers" scrollHeight="500px" [itemSize]="150">
                <p-header>
                    <div class="ui-g browser-item">
                        <div class="ui-g-6 sort-container">
                            <p-dropdown name="dropdown" [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange()" [autoWidth]="false" [style]="{'min-width':'140px'}"></p-dropdown>
                        </div>
                        <div class="ui-g-6 title-container">
                            List of Browsers
                        </div>
                    </div>
                </p-header>
                <ng-template let-browser pTemplate="item" let-i="index">
                    <div class="ui-g browser-item">
                        <div class="ui-g-12 ui-md-2">
                            <div style="font-size: 24px; text-align: center; padding-top: 48px">{{i}}</div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <img src="/content/primeng/assets/data/images/browsers/{{browser.code}}.png" width="100" height="80">
                        </div>
                        <div class="ui-g-12 ui-md-8">
                            <div class="ui-g">
                                <div class="ui-g-2 ui-sm-6">Engine: </div>
                                <div class="ui-g-10 ui-sm-6">{{browser.engine}}</div>

                                <div class="ui-g-2 ui-sm-6">Browser: </div>
                                <div class="ui-g-10 ui-sm-6">{{browser.browser}}</div>

                                <div class="ui-g-2 ui-sm-6">Platform: </div>
                                <div class="ui-g-10 ui-sm-6">{{browser.platform}}</div>

                                <div class="ui-g-2 ui-sm-6">Grade: </div>
                                <div class="ui-g-10 ui-sm-6">{{browser.grade}}</div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-virtualScroller>
        </pe-step>

    </pe-steps>
</form>

<p-growl [value]="msgs"></p-growl>
