<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Basic -->
        <pe-step label="Basic">
            <p-scrollPanel [style]="{width: '100%', height: '200px'}">
                <div style="padding:1em;line-height:1.5">
                    PrimeNG is a collection of rich UI components for Angular. PrimeNG is a sibling of the popular JavaServer Faces Component Suite, PrimeFaces.
                    All widgets are open source and free to use under MIT License.
                    PrimeNG is developed by PrimeTek Informatics, a company with years of expertise in developing open source UI components.
                    PrimeNG is a collection of rich UI components for Angular. PrimeNG is a sibling of the popular JavaServer Faces Component Suite, PrimeFaces.
                    All widgets are open source and free to use under MIT License.
                    PrimeNG is developed by PrimeTek Informatics, a company with years of expertise in developing open source UI components.
                    PrimeNG is a collection of rich UI components for Angular. PrimeNG is a sibling of the popular JavaServer Faces Component Suite, PrimeFaces.
                    All widgets are open source and free to use under MIT License.
                    PrimeNG is developed by PrimeTek Informatics, a company with years of expertise in developing open source UI components.
                </div>
            </p-scrollPanel>
        </pe-step>
        <pe-step label="ScrollStyle">
            <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="custombar1">
                <div style="padding:1em;line-height:1.5">
                    PrimeNG is a collection of rich UI components for Angular. PrimeNG is a sibling of the popular JavaServer Faces Component Suite, PrimeFaces.
                    All widgets are open source and free to use under MIT License.
                    PrimeNG is developed by PrimeTek Informatics, a company with years of expertise in developing open source UI components.
                    PrimeNG is a collection of rich UI components for Angular. PrimeNG is a sibling of the popular JavaServer Faces Component Suite, PrimeFaces.
                    All widgets are open source and free to use under MIT License.
                    PrimeNG is developed by PrimeTek Informatics, a company with years of expertise in developing open source UI components.
                    PrimeNG is a collection of rich UI components for Angular. PrimeNG is a sibling of the popular JavaServer Faces Component Suite, PrimeFaces.
                    All widgets are open source and free to use under MIT License.
                    PrimeNG is developed by PrimeTek Informatics, a company with years of expertise in developing open source UI components.
                </div>
            </p-scrollPanel>
        </pe-step>
        <pe-step label="CustomStyles">
            <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="custombar2">
                <div style="padding:1em;line-height:1.5">
                    PrimeNG is a collection of rich UI components for Angular. PrimeNG is a sibling of the popular JavaServer Faces Component Suite, PrimeFaces.
                    All widgets are open source and free to use under MIT License.
                    PrimeNG is developed by PrimeTek Informatics, a company with years of expertise in developing open source UI components.
                    PrimeNG is a collection of rich UI components for Angular. PrimeNG is a sibling of the popular JavaServer Faces Component Suite, PrimeFaces.
                    All widgets are open source and free to use under MIT License.
                    PrimeNG is developed by PrimeTek Informatics, a company with years of expertise in developing open source UI components.
                    PrimeNG is a collection of rich UI components for Angular. PrimeNG is a sibling of the popular JavaServer Faces Component Suite, PrimeFaces.
                    All widgets are open source and free to use under MIT License.
                    PrimeNG is developed by PrimeTek Informatics, a company with years of expertise in developing open source UI components.
                </div>
            </p-scrollPanel>
        </pe-step>

    </pe-steps>
</form>
