<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Basic -->
        <pe-step label="Basic">

            <h3 class="first">Basic - {{checked1}}</h3>
            <p-inputSwitch name="basic" [(ngModel)]="checked1"></p-inputSwitch>
        </pe-step>

        <!-- Labels -->
        <pe-step label="Labels" >
            <h3>Labels - <span> {{checked2}}</h3>
            <p-inputSwitch name="labels"  onLabel="Yes" offLabel="No" [(ngModel)]="checked2"></p-inputSwitch>
        </pe-step>

    </pe-steps>
</form>

<p-growl [value]="msgs"></p-growl>
