<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Basic -->
        <pe-step label="Basic">
            <p>View PrimeNG Logo</p>
            <p-overlayPanel #overlaybasic appendTo="body">
                <img src="/content/primeng/assets/data/images/logos/primeng.png" alt="PrimeNG Logo" />
            </p-overlayPanel>
            <button type="button" pButton label="Logo" (click)="overlaybasic.toggle($event)"></button>
        </pe-step>
        <!-- Customization -->
        <pe-step label="Customization">
            <i class="fa fa-search" (mouseenter)="overlaycustom.show($event)" ></i>
            <p-overlayPanel #overlaycustom [showCloseIcon]="true" [dismissable]="false" appendTo="body">
                <iframe width="500" height="300" src="/content/primeng/assets/data/videos/ironman.mp4"  allowfullscreen></iframe>
            </p-overlayPanel>

        </pe-step>

        <!-- Table Integration -->
        <pe-step label="Table Integration">
            <p-table [value]="scores" [style]="{width: '500px'}" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4em"></th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="java">Java <p-sortIcon field="java"></p-sortIcon></th>
                        <th pSortableColumn="scala">Scala <p-sortIcon field="scala"></p-sortIcon></th>
                        <th pSortableColumn="play">Play <p-sortIcon field="play"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-score>
                    <tr>
                        <td>
                            <button type="button" pButton (click)="selectScore($event, score, overlayintegration);" icon="fa fa-search"></button>
                        </td>
                        <td>{{score.name}}</td>
                        <td>{{score.java}}</td>
                        <td>{{score.scala}}</td>
                        <td>{{score.play}}</td>
                    </tr>
                </ng-template>
            </p-table>

            <p-overlayPanel #overlayintegration appendTo="body">
                Total marks: <span>{{marks}}</span> <br/>
                Percentage: <span>{{percentage}}%</span>
            </p-overlayPanel>

        </pe-step>

        <!-- Events -->
        <pe-step label="Events">
            <p-overlayPanel #overlayevents (onShow)="onShow()" (onHide)="onHide()" appendTo="body">
                <img src="/content/primeng/assets/data/images/logos/primeng.png" alt="PrimeNG Logo" />
            </p-overlayPanel>
            <button type="button" pButton label="Logo" (click)="overlayevents.toggle($event)"></button>
        </pe-step>

    </pe-steps>

</form>

<p-growl [value]="msgs"></p-growl>
