<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event);" [stepClass]="'layout-format'">
        <!-- Basic -->
        <pe-step label="Basic">
            <div class="dnd-container">
                <div class="p-grid">
                    <div class="p-col-12 ui-md-6 drag-column">
                        <ul style="margin:0;padding:0">
                            <li *ngFor="let doc of availableDocs" class="ui-helper-clearfix" pDraggable="docs"
                                (onDragStart)="dragStart($event,car)" (onDragEnd)="dragEnd($event)">
                                <i class="fa fa-arrows fa-2x" style="float:right;margin-top:8px"></i>
                                <p-panel [header]="doc.title" [style]="{'text-align':'center'}">
                                    <img src="/content/primeng/assets/data/images/docs/{{doc.extension}}.png">
                                </p-panel>
                            </li>
                        </ul>
                    </div>


                    <br/><br/>
                    <div class="p-col-12 ui-md-6 drop-column">
                        <div pDroppable="docs" (onDrop)="drop($event)" [ngClass]="{'dragged-doc': draggedDoc}">
                            <p-table [value]="deletedDocs">
                                <ng-template pTemplate="caption">
                                    Recycle Bin
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Title</th>
                                        <th>Size (bytes)</th>
                                        <th>Creator</th>
                                        <th>Creation Date</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-doc>
                                    <tr>
                                        <td>{{doc.title}}</td>
                                        <td>{{doc.size}}</td>
                                        <td>{{doc.creator}}</td>
                                        <td>{{doc[creationDate].toLocaleDateString()}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                    <br/><br/>
                </div>
            </div>
        </pe-step>
    </pe-steps>
</form>
